// Colors

$mk_color_appsmenu_text: #F8F9FA;
$mk_color_appbar_text: #DEE2E6;
$mk_color_appbar_active: #5D8DA8;
$mk_color_appbar_background: #111827;

// Override 
// Experts Vision Theme Colors
$mk-appsmenu-color: #F5F5F5;
$mk-appbar-color: #F5F5F5;
$mk-appbar-active: #7B6624;
$mk-appbar-background: #191919;