* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.financial_report_background {
    background-color: #F9FAFB;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.financial_report_container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background-color: white;
    font-size: 12.8px;
    border-radius: 5px;
    padding: 24px;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    border: 1px solid #E5E7EB;
}


.financial_report_table {
    width: 100%;
    border-collapse: collapse;
}


.financial_report_table thead th {
    font-weight: 500;
    padding-bottom: 16px;
    text-align: center;
}

.financial_report_date_box {
    padding: 6px 12px;
    font-size: 11px;
    font-weight: normal;
    border: 1px solid #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.financial_report_table tbody tr.highlighted {
    background-color: #CCCED1;
}

.financial_report_table td {
    padding: 5px 18px;
}

.financial_report_table tr.bold  {
    font-weight: 600;
}

.financial_report_balance_value {
    text-align: center;
    min-width: 100px;
}

.financial_report_table tbody tr  {
    border-bottom: 1px solid #E5E7EB;
}