- name: Backup Odoo Instance
  hosts: all
  become: true
  vars:
    backup_base: "./backup/{{ lookup('env', 'BACKUP_SERVER_NAME') }}"
    remote_user: ubuntu
    ssh_key_path: "./mahmoud-key.pem"
    ssh_extra_opts: "-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"

  tasks:
    - name: Ensure local backup folders exist
      delegate_to: localhost
      run_once: true
      file:
        path: "{{ item }}"
        state: directory
      loop:
        - "{{ backup_base }}/etc"
        - "{{ backup_base }}/home/ubuntu"

    - name: Remove Docker containers
      community.docker.docker_compose_v2:
        project_src: /home/ubuntu/ev-odoo-basic/run-profiles/cloud-ubuntu
        state: absent


    - name: Backup Let's Encrypt certificates preserving symlinks
      ansible.builtin.shell: >
        ssh -i {{ ssh_key_path }} {{ ssh_extra_opts }} {{ remote_user }}@{{ ansible_host }}
        "sudo tar czf - -C /etc letsencrypt --dereference " | tar xzf - -C {{ backup_base }}/etc
      delegate_to: localhost
      register: cert_copy
      failed_when: cert_copy.rc != 0



    - name: Backup Odoo data folder
      ansible.builtin.shell: >
        ssh -i {{ ssh_key_path }} {{ ssh_extra_opts }} {{ remote_user }}@{{ ansible_host }}
        "sudo tar czf - -C /home/ubuntu data" | tar xzf - -C {{ backup_base }}/home/ubuntu
      delegate_to: localhost
      register: license_copy
      failed_when: license_copy.rc != 0

    - name: Backup Odoo license folder
      ansible.builtin.shell: >
        ssh -i {{ ssh_key_path }} {{ ssh_extra_opts }} {{ remote_user }}@{{ ansible_host }}
        "sudo tar czf - -C /home/ubuntu license" | tar xzf - -C {{ backup_base }}/home/ubuntu
      delegate_to: localhost
      register: license_copy
      failed_when: license_copy.rc != 0

    - name: Start Docker containers
      community.docker.docker_compose_v2:
        project_src: /home/ubuntu/ev-odoo-basic/run-profiles/cloud-ubuntu
        state: present
